.InputWrapper,
.LongInputWrapper {
    justify-content: flex-end;
    box-sizing: border-box;
    color: var(--color-primary-dark-text);
    display: flex;
    flex-direction: column;
    width: auto;
    /* margin: 7.5px; */
    gap: 5px;

}

.LongInputWrapper {
    grid-column-end: span 2;
}

.InputWrapper input,
.LongInputWrapper input,
input[type="date"] {
    height: 50px;
    color: var(--color-primary-dark-text);
    background-color: var(--color-input-background);
    padding: 15px 5px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--color-base-border);
    box-sizing: border-box;
}

.InputWrapper .NeedText,
.LongInputWrapper .NeedText {
    color: red;
    border: 1px solid;
    border-radius: 5px;
}

.SearchInput input {
    border: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.SearchInput {
    align-items: center;
    background-color: var(--color-input-background);
    border-radius: 5px;
    border: 1px solid var(--color-base-border);

}

.InputSearchIcon {
    margin-right: 5px;
}

.SearchInput input {
    width: 100%;
}

.SearchInput {
    height: 100%;
    width: 100%;
    display: flex;
}


::-webkit-calendar-picker-indicator {
    opacity: 0.6;

}

.LongTextField,
.TextField {

    box-sizing: border-box;
    color: var(--color-primary-dark-text);
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5px;

}

.LongTextField {
    grid-column-end: span 2;
}

.LongTextField .Text,
.TextField .Text {
    height: 50px;
    color: var(--color-primary-dark-text);
    background-color: var(--color-input-background);
    padding: 15px 5px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--color-base-border);
    box-sizing: border-box;
}

.TextField .LongTextField .TextDescription {
    color: var(--color-secondary-text);
}

.TextField .LongTextField .Text {
    color: var(--color-primary-text);
}

.SubmitButtonWrapper {
    width: 100%;
    margin-top: 5px;
}

.SubmitButton {
    width: 100%;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--color-base-border);
    background-color: var(--color-base-background);
    color: var(--color-primary-dark-text);
    padding: 15px 0px;
}

.SubmitButton:active {
    background-color: var(--color-component-background);
    color: var(--color-primary-text);
}

.NumberDoesNotExist {
    color: var(--color-primary-dark-text);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 300;
}

.Checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Checkbox label {
    color: var(--color-primary-text);
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    white-space: nowrap;
}


input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 18px;
    height: 18px;
    top: 2px;
    border: 2px solid var(--color-primary-text);
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked {
    border: 2px solid var(--color-control-elements);
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    color: white;
    position: absolute;
    left: 1px;
    top: -4px;

}

input::placeholder,
input[type="date"]::placeholder {
    color: var(--color-secondary-text);
    opacity: 1;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: var(--color-secondary-text);
}


input[type="date"] {
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
}

.Space {
    height: 300px;
}

.CoolToast {
    border: '1px solid #713200';
    padding: '16px';
    background-color: var(--color-base-background);
}