.InputWrapper,
.LongInputWrapper {
    justify-content: flex-end;
    box-sizing: border-box;
    color: var(--color-primary-dark-text);
    display: flex;
    flex-direction: column;
    width: auto;
    /* margin: 7.5px; */
    gap: 5px;

}

.LongInputWrapper {
    grid-column-end: span 2;
}

.InputWrapper input,
.LongInputWrapper input,
input[type="date"] {
    height: 50px;
    color: var(--color-primary-dark-text);
    background-color: var(--color-input-background);
    padding: 15px 5px;
    border: solid 0px;
    border-radius: 5px;
    /* border-color: var(--color-base-border); */
    box-sizing: border-box;

}





.InputWrapper:focus,
.LongInputWrapper:focus {
    border: solid 5px;
    border-color: red;
}

input {
    outline: none;
}

.InputWrapper input:focus,
.LongInputWrapper input:focus {
    outline: solid 2px var(--color-primary-text);
    border-radius: 5px;

}

.InputWrapper .NeedText,
.LongInputWrapper .NeedText {
    color: red;
    border: 1px solid;
    border-radius: 5px;
}

.InputWrapper .NotNeedText,
.LongInputWrapper .NotNeedText {
    /* color: red; */
    border: 1px solid;
    border-color: var(--color-light-border);
    border-radius: 5px;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.SearchInput {
    align-items: center;
    background-color: var(--color-input-background);
    border-radius: 5px;
    /* border: 1px solid var(--color-base-border); */
}

.InputSearchIcon {
    margin-right: 5px;
}

.SearchInput input {
    width: 100%;
    padding-left: 15px;
}

.SearchInput {
    height: 100%;
    width: 100%;
    display: flex;
}


::-webkit-calendar-picker-indicator {
    opacity: 0.6;

}

.LongTextField,
.TextField {

    box-sizing: border-box;
    color: var(--color-primary-dark-text);
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5px;

}

.LongTextField {
    grid-column-end: span 2;
}

.LongTextField .Text,
.TextField .Text {
    height: 50px;
    color: var(--color-primary-dark-text);
    background-color: var(--color-input-background);
    padding: 15px 5px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--color-base-border);
    box-sizing: border-box;
}

.TextField .LongTextField .TextDescription {
    color: var(--color-secondary-text);
}

.TextField .LongTextField .Text {
    color: var(--color-primary-text);
}

.SubmitButtonWrapper {
    width: 100%;
    margin-top: 5px;
}

.SubmitButton,
.DeleteButton {
    width: 100%;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--color-base-border);
    background-color: var(--color-base-background);
    color: var(--color-primary-dark-text);
    padding: 15px 0px;
}

.SubmitButton:active {
    background-color: var(--color-component-background);
    color: var(--color-primary-text);
}

.NumberDoesNotExist {
    font-family: "VelaSansLight";
    color: var(--color-primary-dark-text);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 300;
}

.Checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Checkbox label {
    color: var(--color-primary-text);
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    white-space: nowrap;
}


input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 18px;
    height: 18px;
    top: 2px;
    border: 2px solid var(--color-primary-text);
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked {
    border: 2px solid var(--color-control-elements);
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    color: white;
    position: absolute;
    left: 1px;
    top: -4px;

}

input::placeholder,
input[type="date"]::placeholder {
    color: var(--color-secondary-text);
    opacity: 1;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: var(--color-secondary-text);
}


input[type="date"] {
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
}

.Space {
    height: 300px;
}

.CoolToast {
    border: '1px solid #713200';
    padding: '16px';
    background-color: var(--color-base-background);
}

.MGDatePicker {
    height: 50px;
    width: 100%;
}

.HelperText {
    color: var(--color-primary-dark-text);
}

.PrimaryText {
    color: var(--color-primary-text);
}

@media (max-width: 400px) {
    .HelperText {
        font-size: 14px;
        line-height: 14px;
    }

    .PrimaryText {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .HelperText {
        font-size: 18px;
        line-height: 18px;
    }

    .PrimaryText {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 801px) {
    .HelperText {
        font-size: 18px;
        line-height: 18px;
    }

    .PrimaryText {
        font-size: 20px;
        line-height: 20px;
    }
}

.SubmitModal {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    height: 30%;
    z-index: 1001;
    background-color: var(--color-base-fill);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.SubmitModalWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparent-fill);
    color: var(--color-primary-text);
    border-radius: 5px;
}

.SubmitModalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    width: 90%;
    height: 30%;
    padding: 20px;
    background-color: var(--color-component-background);
    color: var(--color-primary-text);
    border-radius: 5px;
}


.SubmitDeleteButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.SubmitModalContent h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.DeleteButton {
    background-color: var(--color-cool-red);
    color: var(--color-primary-text);
    border-color: var(--color-primary-text);
    font-size: 18px;
}