.Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: var(--color-base-background);
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
}

.NavButtonWrapper {
    max-width: 150px;

}

.NavButton {
    max-width: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 20vw;
    height: 70px;
    background-color: transparent;
    border: 0;


}

.NavButtonIcon {
    color: var(--color-secondary-text);
}

.NavCurrentButtonIcon {
    transition: all 300ms ease;
    color: var(--color-control-elements);
}

.NavCurrentLabel {
    color: var(--color-primary-text);
}

.NavDefaultLabel {
    color: var(--color-secondary-text);
}