.Market {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-base-fill);

}

.MarketSelector {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;


}

.MarketSelector h1 {
    padding: 25px 0;
    color: var(--color-primary-text);
    font-weight: 200;
}

.MarketItem {
    color: var(--color-primary-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color-component-background);
    border: 1px solid var(--color-base-background);
}

.MarketItem .Text {
    color: var(--color-primary-text);
    padding: 10px;

}

@media (max-width: 400px) {
    .MarketItem .Text {
        font-size: 20px;
        line-height: 20px;
    }

    .MarketItem .HelperText {
        font-size: 15px;
        line-height: 15px;
    }

    .CreateMarket label {
        font-size: 18px;
    }

    .CreateMarket input {
        font-size: 18px;
    }

    .CreateMarket input ::placeholder {
        font-size: 20px;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .MarketItem .Text {
        font-size: 16px;
        line-height: 20px;
    }

    .MarketItem .HelperText {
        font-size: 16px;
        line-height: 16px;
    }

    .CreateMarket label {
        font-size: 20px;
    }

    .CreateMarket input {
        font-size: 20px;
    }

    .CreateMarket input ::placeholder {
        font-size: 20px;
    }
}

@media (min-width: 1201px) {
    .MarketItem .Text {
        font-size: 20px;
        line-height: 20px;
    }

    .MarketItem .HelperText {
        font-size: 18px;
        line-height: 18px;
    }

    .CreateMarket label {
        font-size: 20px;
    }

    .CreateMarket input {
        font-size: 20px;
    }

    .CreateMarket input ::placeholder {
        font-size: 20px;
    }
}

.MarketAdress {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.MarketItem .TextField {
    padding: 0px;
    height: 42px;
    gap: 0px;
}

.MarketItemContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.NameCutter {
    width: auto;
}

.MarketsList {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.MarketListScroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-bottom: 200px;
}

.MarketSelector footer {
    display: flex;
    width: 100%;
    height: 140px;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
    pointer-events: none;
    gap: 20px;
}

.CrossHorizontal {
    width: 24px;
    top: 31px;
    height: 2px;
    background-color: var(--color-control-elements);
    position: absolute;
    left: 20px;
    border-radius: 5px;
}

.CrossVertical {
    border-radius: 5px;
    top: 20px;
    left: 31px;
    position: absolute;
    height: 24px;
    width: 2px;
    background-color: var(--color-control-elements);
}

.CreateMarketButton {
    width: 64px;
    height: 64px;
    position: relative;
    font-size: 40px;
    font-weight: 100;
    background-color: #017AFE33;
    border-radius: 50%;
    border: 0;
    pointer-events: all;

}

.CreateMarket {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CreateMarketContent {
    background-color: var(--color-component-background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.CreateMarketContent .CardHeader {
    padding: 0px;
}

.CommonSearchButton {
    width: 64px;
    height: 64px;
    font-size: 40px;
    font-weight: 100;
    border: none;
    background-color: var(--color-cool-background);
    border-radius: 50%;
    color: var(--color-secondary-text);
    background-color: #017AFE33;
    color: var(--color-control-elements);
    pointer-events: all;
}

.LoaderWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}