.Detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-component-background);

    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--color-base-border);
}

.DetailLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.DetailRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.DetailNumberWrapper {

    height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--color-base-border);
    background-color: var(--color-input-background);
}

@media (max-width: 400px) {
    .DetailNumberWrapper {
        width: 135px;
        height: 65px;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .DetailNumberWrapper {
        width: 165px;
        height: 65px;
    }
}


@media (min-width: 801px) {
    .DetailNumberWrapper {
        width: 175px;
        height: 75px;
    }
}

.RightArrowWrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.PrimaryText {
    color: var(--color-primary-text);
    text-overflow: ellipsis;
    overflow: hidden;

}

.HelperText {
    color: var(--color-primary-dark-text);
}

.DetailCountWrapper {
    display: flex;
    gap: 5px;
}


@media (max-width: 400px) {
    .HelperText {
        font-size: 14px;
        line-height: 14px;
    }

    .PrimaryText {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .HelperText {
        font-size: 18px;
        line-height: 18px;
    }

    .PrimaryText {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 801px) {
    .HelperText {
        font-size: 18px;
        line-height: 18px;
    }

    .PrimaryText {
        font-size: 20px;
        line-height: 20px;
    }
}