.slide-panel.open {
    bottom: 0;
    /* Панель выезжает на экран */
}

/* Выезжающая панель */
.slide-panel {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100vw;
    background-color: var(--color-component-background);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease-in-out;
    z-index: 1000;


    /* Добавляем прокрутку, если контент не помещается */
}

/* Контент панели */
.panel-content {
    margin: 15px 20px;
    position: relative;
    border: 1px solid var(--dark-border-2);
    overflow-y: auto;
    height: 100%;
}

.SlidePanelHeader {
    position: relative;
    height: 30px;
}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    color: var(--color-secondary-text);
    font-size: 16px;
    font-family: "VelaSansRegular";
    /* position: relative; */
    top: 10px;
    right: 10px;
    gap: 5px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}