.LoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.Loader {
    pointer-events: none;
    /* Отключаем взаимодействие с загрузчиком */
}